.main {
    padding-top: 20px;
    margin: auto;
    margin-top:20px;
    width: 100%;
    border: 3px solid black;
}

.w100 {
    width: 100%;
    position: relative;
    padding: 20px;
    display: flex;
}

.flex1 {
    height: 250px;
    flex: 1;
    padding: 20px;
    margin: 10px;
    border: 3px solid black;
}
.flex2 {
    height: 250px;
    flex: 2;
    padding: 20px;
    margin: 10px;
    border: 3px solid black;
}
.noBorder {
    border: none;
}