<div class="container">
  <label class="labelText" for="timer">Enter Timer Limit  </label> <input type="text" #input (keyup)="onKey($event)" id="timer" numbersOnly>
</div>
<div class="container">
  <button class="button" mat-flat-button color="primary" (click)="onStart()" [disabled]="!inputValue">Start/Pause</button>
  <button class="button" mat-flat-button color="primary" (click)="onReset()">Reset</button>
</div>

<div class="container" *ngIf="paused.length > 0">
  <ng-container *ngFor="let el of paused">
    <p>Paused at {{el}}</p>
  </ng-container>
</div>